/*header rules */
.container {
    display: flex;
    flex-direction: row;
    
    background-color: lightblue;

}

.navButton {
    flex: auto;
    
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
}

.item {
    border: 1px solid yellow;
}


/*main page rules */
body {
    background-color: darkslategrey;

}

button {
    background-color: darkgrey;
}

.list{
    border: 1px solid purple;
}

.todo{
    height: 200px;
    width: 200px;
    border: 5px solid green;
}

.todoTitles{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
}