:root {
    --grey: #F2EFE7;
    --teal: #9ACBD0;
    --sea: #48A6A7;
    --cold: #006A71;
}

* {
    background-color: #9ACBD0;
}

text {
    color: var(--grey);
}

p {
    color: var(--grey);
    word-wrap: break-word;
    overflow-wrap: break-word; 
    word-break:break-all;
}

button {
    color: var(--grey);
}

label {
    color: var(--grey);
}


/*header rules */
.container {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: var(--cold);

}

.navButton {
    flex: auto;
    
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
}

.item {
    border: 1px solid yellow;
}


/*main page rules */
body {

}

button {
}

#inputContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 5px;
    padding:2px;
    background-color: var(--cold);
}

#form{
    display:flex;
    flex:auto;
    background-color: var(--cold);
}

/* todo page */
.todoContainer{
    display:flex;
    justify-content:space-around;
    align-items: baseline;
    flex-wrap:wrap;
    align-content:space-between;
    margin-top:10px;

}

.evrcontainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap:wrap;
    flex:auto;
    margin:10px;
    padding:3px;
    
}

.infocontainer{
    display:flex;
    justify-content:space-between;
    padding-left:4px;
    padding-right:4px;
}

.btncontainer{
    display:flex;
    flex:auto;
    justify-content:space-between;
}

.list{
    background-color:var(--cold);
    justify-content:center; 
    border-radius: 15px;
    padding-top:10px;
    animation: fadeIn 0.3s ease-in-out;
    margin-top:5px;
    
}

.todo{
    flex:auto;
    height: 200px;
    width: 200px;
    margin:10px;
    padding:3px;
    border-radius: 15px;
    -webkit-box-shadow: 9px 3px 20px 0px rgba(0,0,0,0.44); 
    box-shadow: 9px 3px 20px 0px rgba(0,0,0,0.44);
    animation: fadeIn 0.5s ease-in-out;
    background-color: var(--sea);
}

.todo *{
    background-color: var(--sea);
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.todoTitles{
    flex:auto;
    justify-content: center;
    background:none;
    
    border:none;
    margin:3px;
    padding:2px;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
}

.high{
    color: red;
}

.medium{
    color: yellow;
}

.low{
    color: green;
}

#priority{
    inline-size: auto;
}